<div class="container-fluid body-page">
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-8">
            <h4 class="title-page"><i class="fa fa-cog"></i> Gerenciar - Menu</h4>
        </div>
        <div class="col-12 col-xs-12 col-sm-4 button-align-right">
            <button type="button" class="btn btn-primary" (click)="openModal(true, null, 'item principal')"><i
                    class="fa fa-plus"></i> Novo item</button>
        </div>
    </div>
    <div class="row itens-body">
        <div class="col-12">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                    *ngFor="let data of datas">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <div class="container-fluid body-page">
                                <div class="row">
                                    <div class="col-12 col-xs-12 col-sm-6">
                                        <i class="fa fa-edit icon-default"
                                        (click)="openModal(true, data._id, 'item principal', data)"></i>
                                        <i class="fa {{data.icon}} icon-custon color-default"></i>
                                        <span class="color-default">{{data.name}}</span>
                                    </div>
                                    <div class="col-12 col-xs-12 col-sm-6 text-right">
                                        <span class="color-default cursor-pointer"
                                            (click)="openModal(false, data._id, 'Sub-item', data)">
                                            <i class="fa fa-plus-circle color-default"></i> Novo Sub-item
                                        </span>
                                        <i class="fa fa-trash icon-trash cursor-pointer"></i>
                                    </div>
                                </div>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-accordion>
                        <mat-expansion-panel (opened)="panelOpenStateSubMenu = true"
                            (closed)="panelOpenStateSubMenu = false"
                            *ngFor="let subMenu of data.items; let indexSubMenu = index">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <div class="container-fluid body-page">
                                        <div class="row">
                                            <div class="col-12 col-xs-12 col-sm-6">
                                                <i class="fa {{subMenu?.item?.icon}} icon-custon color-default"></i>
                                                <span class="color-default">{{subMenu?.item?.name}}</span>
                                            </div>
                                            <div class="col-12 col-xs-12 col-sm-6 text-right">
                                                <i class="fa fa-edit color-default cursor-pointer"
                                                    (click)="openModal(false, data._id, 'Sub-item', data, null, indexSubMenu)"></i>
                                                <i class="fa fa-trash icon-trash"></i>
                                            </div>
                                        </div>
                                    </div>
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <div class="cursor-pointer" (click)="openModal(true, data._id, 'link', data, indexSubMenu)">
                                <i class="fa fa-plus-circle color-default"></i> <span class="color-default"> Novo
                                    Link</span>
                            </div>
                            <ul>
                                <li *ngFor="let link of subMenu.listItem; let indexLink = index">
                                    <div class="container-fluid body-page">
                                        <div class="row">
                                            <div class="col-12 col-xs-12 col-sm-6">
                                                <span>{{link.name}}</span>
                                            </div>
                                            <div class="col-12 col-xs-12 col-sm-6 text-right">
                                                <i class="fa fa-edit color-default cursor-pointer" 
                                                (click)="openModal(false, data._id, 'link', data, indexSubMenu, indexLink)"></i>
                                                <i class="fa fa-trash icon-trash"></i>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </mat-expansion-panel>
                    </mat-accordion>

                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>