/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import "~bootstrap/scss/mixins";
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/media';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/carousel";

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

$fa-font-path: "../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

$bg-color-primary: #054875;
$bg-color-white: #FFFFFF;



.bg-color-menu {
    background-color: $bg-color-primary;
}

.bg-color-menu-left {
    background-color: $bg-color-primary;
    color: $bg-color-white;
    height: 87vh;
}

.menu-body {
    margin-top: 10px;
    a {
        color: $bg-color-white;
    }
}

.body-page{
    .title-page {
        color: $bg-color-primary;
        padding-top: 10px;
    }

    .btn-primary {
        background-color: $bg-color-primary;
        border-color: $bg-color-primary;
        margin-top: 3%;
    }
    
    .button-align-right {
        text-align: right;
    }

    .itens-body {
        margin-top: 2%;
    }
}

@media only screen and (min-width: 992px) {
    .nav-link-sm-hidden {
        display: none;
    }

    .nav-menu-left-sm-hidden {
        display: block;
    }
}

@media only screen and (max-width: 991px) {
    .nav-link-xs-hidden {
        display: block;
    }

    .nav-menu-left-sm-hidden {
        display: none;
    }
}