/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import "~bootstrap/scss/mixins";
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/media';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import "~bootstrap/scss/breadcrumb";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/carousel";

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

$fa-font-path: "../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

$bg-color-primary: #054875;
$bg-color-white: #FFFFFF;
$bg-color-remove: #eb8181;
$bg-color-green: #91c280;


.bg-color-menu {
    background-color: $bg-color-primary;
}

.bg-color-menu-left {
    background-color: $bg-color-primary;
    color: $bg-color-white;
    height: 87vh;
}

.menu-body {
    margin-top: 10px;
    a {
        color: $bg-color-white;
    }
}

.body-page{
    .title-page {
        color: $bg-color-primary;
        padding-top: 10px;
    }

    .btn-primary {
        background-color: $bg-color-primary;
        border-color: $bg-color-primary;
        margin-top: 3%;
    }

    .new-link {
        margin-top: 10px;
    }
    
    .button-align-right {
        text-align: right;
    }

    .itens-body {
        margin-top: 2%;
    }

    .icon-default {
        color: $bg-color-green;
        padding-right: 10px;
        padding-top: 4px;
    }

    .icon-custon {
        padding-top: 4px;
        padding-right: 4px;
    }

    .icon-trash {
        padding-left: 5px;
        color: $bg-color-remove;
    }

    ul {
        padding-left: 17px;
        margin-top: 8px;
    }

    .mat-expansion-panel {
        background: #d6d6d6;
        margin-top: 10px!important;
    }

    .mat-expansion-panel-body{
        background: #e6e6e6;
    }
}

.btn-salvar {
    width: 48%;
    height: 45px;
    font-size: 25px;
    color: $bg-color-white;
    background-color: $bg-color-green;
}

.btn-cancelar {
    width: 48%;
    height: 45px;
    font-size: 25px;
    color: $bg-color-white;
    background-color: $bg-color-remove;
}

.full-width {
    width: 100%;
}

.icon-modal {
    font-size: 50px;
    text-align: center;
    color: $bg-color-primary;
}

.cursor-pointer {
    cursor: pointer;
}

div .color-default, mat-panel-title .color-default {
    color: $bg-color-primary;
}

.mat-expansion-panel-content .mat-expansion-panel-body {
    padding-top: 1%;
}

.nm-not-found-container {
    i {
        font-size: 40px;
    }
}

.menu-not-found-body {
    margin-bottom: 5%;    
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nm-not-found-message {
    font-size: 24px;
    color: #333;
    font-weight: 400;
}

.alert-dark {
    margin-bottom: 0;
}

.card-body {
    background: #e8e8e8;
}

@media only screen and (min-width: 992px) {
    .nav-link-sm-hidden {
        display: none;
    }

    .nav-menu-left-sm-hidden {
        display: block;
    }
}

@media only screen and (max-width: 991px) {
    .nav-link-xs-hidden {
        display: block;
    }

    .nav-menu-left-sm-hidden {
        display: none;
    }

    .btn-salvar {
        width: 48%;
        height: 45px;
        font-size: 18px;
        color: $bg-color-white;
        background-color: $bg-color-green;
    }
    
    .btn-cancelar {
        width: 48%;
        height: 45px;
        font-size: 18px;
        color: $bg-color-white;
        background-color: $bg-color-remove;
    }

    .title-menu {
        display: inline-block;
        width: 115px;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 15px;
    }

    .title-sub-menu {
        display: inline-block;
        width: 48px;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 15px;
    }

    div .mat-dialog-content {
        padding: 0;
        margin: 0;
    }
}